body{
    margin: 0;
    padding: 0;
    font-family: caviar dreams;
    background-color: #23282d;
    background-image: url(backmini3.png)
    
}
.topo{
    width: 100%;
    height: 140px;
    background-color: #23282d;
    line-height: 140px;
    background-image: url(backmini3.png)
    
}
.top{
    position: relative;
    width: 80%;
    height: 140px;
    margin:auto;
    background-color:transparent;
    text-align: center;
}
.logo{
    color: white;
    display: inline-block;
    position: absolute;
    font-size: 33pt;
    right: 445px;
    
}
img{
    position: absolute;
    margin-top: 62px;
    margin-left: -124px;
    width: 130px;
}
.about{
    color: white;
    display: inline-block;
    position: absolute;
    font-size: 20pt;
    right: 0px;
}
nav{
    margin: 0;
    padding: 0;
    width: 39%;
    height: 500px;
    background-color: transparent;
    float: left;
}
.btn1{
    width:510px;
    height:90px;
    margin-top: 20px;
    background-color:transparent;
    display:inline-block;
}
.btnicon1{
    width:18px;
    height:90px;
    background-color:#ffa630;
    left:0px;
}
.web{
    width:150px;
    height: 90px;
    line-height:90px;
    margin-left: 40px;
    color: #f4f3ee;
    font-size: 20pt;
    
}

.btn2{
    width:510px;
    height:90px;
    margin-top: 20px;
    background-color:transparent;
    display:inline-block;
    
}
.btnicon2{
    width:18px;
    height:90px;
    background-color:#5bc0be;
    left:0px;
}
.python{
    width:150px;
    height:90px;
    line-height:90px;
    margin-left: 40px;
    color: #f4f3ee;
    font-size: 20pt;
    
}

.btn3{
    width:510px;
    height:90px;
    margin-top: 20px;
    background-color:transparent;
    display:inline-block;
    }
.btnicon3{
    width:18px;
    height:90px;
    background-color:#aa9deb;
    left:0px;
    }
.random{
    width:150px;
    height:90px;
    line-height:90px;
    margin-left: 40px;
    color: #f4f3ee;
    font-size: 20pt;
    
    }

.btn4{
    width:510px;
    height:90px;
    margin-top: 20px;
    background-color:transparent;
    display:inline-block;
    }
.btnicon4{
    width:18px;
    height:90px;
    background-color:#e84855;
    left:0px;
}
.backend{
    width:400px;
    height:90px;
    line-height:90px;
    margin-left: 40px;
    color: #f4f3ee;
    font-size: 20pt;
    
}
.efm:hover{
    cursor: pointer;
}


.spc{
    margin-left: 25px;
}





section{
    margin: 0;
    padding: 0;
    width: 61%;
    height: 500px;
    background-color: transparent;
    float: right;
    
}
.artc{
    width: 320px;
    height: 200px;
    background-color: #a93d35;
    display: inline-block;
    margin-top: 20px;
    margin-right: 60px;
    color: #f4f3ee;
    position: relative;
}

.foot{
    width: 100%;
    float:initial;
    color: white;
    text-align: center;
}
