/*STRUCTURE */
body{
    margin: 0;
    padding: 0;
    font-family: "Caviar Dreams", Arial, sans-serif;
    color: #000000;
}
span{
    color: #8a2be2 ;
}
ul{
    margin: 0;
    padding: 0;
}
.left_side{
    float: left;
    width: 25%;
    height: 100vh;
    background-color: #f5f5f5;
}
.principal{
    float: right;
    width: 75%;
    height: 100vh;
    background-color: #FFFFFF;
}

/*LEFT*/
.logo_name{
    margin-top: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 24pt;
    margin-bottom: 100px;
}
.logo_name:hover{
    cursor: pointer;
    color: #63E
}
.logo_name:hover span{
    color: #23282d
}

.list_options{
    text-align: center;
    list-style: none;
    font-size: 14pt;
    font-weight: bolder;
    color: #00000066;
    margin-top: 50px;
}
.list_options li{
    margin: 0;
    padding: 0;
    height: 30px;
    padding-left: 0px;
    padding-bottom: 13px;
    line-height: 43px;
}
.list_options li:hover{
    cursor: pointer;
    color: #63E;
}
.languages div{
    width: 20px;
    height: 20px;
    background-color: #63E;
    color: white;
    float: left;
    margin: 10.5%;
    display: none;
}

/* RIGHT*/
.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align:center;
    font-weight: bolder;
    line-height: 200px;
    background-color: white;
    color: white;
    margin: auto;
    margin-top: 8%;
}
.image img{
    margin-top: 0px;
}
.content_principal{
    width: 50%;
    margin: auto;
}
h3{
    color: #00000066;
    text-align: center;
}
h2{
    text-align: center;
    color: #23282d;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
}
.content_principal article p {
    text-align: center;
    font-size: 15pt;
}
/* ICONS */
.icon_cnt{
    width: 50%;
    margin: auto;
    height: 50px;
    margin-top: 5%;
}
.normal_icons{
    margin: auto;
}
.normal_icons div{
    height: 50px;
    width: 50px;
    /*background-color: #63E;*/
    padding-right: 5px;
    list-style: none;
    color: #63E;
    float: left;
    margin-left: 11%;
    line-height: 50px;
}
.small_icons{
    margin-top: 20px;
}
.small_icons div{
    height: 20px;
    width: 20px;
    float: left;
    list-style: none;
    color: #63E;
    /*background-color: #63E;*/
    margin-left: 11%;
    margin-top: 16px;
}
.normal_icons div:hover{
    color: #63e;
    /*background-color: #23282d;*/
    font-weight: bolder;
    cursor: pointer;
}
.small_icons div:hover{
    color: #63e;
    /*background-color: #23282d;*/
    font-weight: bolder;
    cursor: pointer;
}


.languages div:hover{
    cursor: pointer;
}
